<% layout("/layouts/boilerplate") %>
<body>
    
<h3>Create a New Listing</h3>



<form method="post" action="/listings" novalidate class="needs-validation"> 
<!-- jo uppar novalidate likha hai iska matlab hai ye browser ka jo required wala style hai usko band kar dega and needs-validation ki help se bootstrap wala style add ho jayega required wale function mai -->

<div>

<lable for="title" class="form-label">Title</lable>
<input name="listing[title]"  type="text" class="form-control" required>
<div class="valid-feedback">Title looks good</div>
<div class="invalid-feedback">Plese Enter the Title</div>

</div>





<div>

<lable for="description" class="form-label">Description</lable>
<textarea  name="listing[description]" class="form-control" required></textarea>
<div class="valid-feedback">Title looks good</div>
<div class="invalid-feedback">Plese Enter the Description</div>

</div>





<div>

<lable for="image" class="form-label">Image</lable>
<input name="listing[image]"  type="text" class="form-control">
<div class="valid-feedback">Title looks good</div>


</div>





<div>

<lable for="price" class="form-label">Price</lable>
<input name="listing[price]"  type="number" class="form-control" required>
<div class="valid-feedback">Title looks good</div>
<div class="invalid-feedback">Plese Enter the Valid Price</div>

</div>




<div>

<lable for="location" class="form-label">Location</lable>
<input name="listing[location]"  type="text" class="form-control" required>
<div class="valid-feedback">Title looks good</div>
<div class="invalid-feedback">Plese Enter the Location</div>

</div>





<div>

<lable for="country" class="form-label">Country</lable>
<input name="listing[country]"  type="text" class="form-control" required>
<div class="valid-feedback">Title looks good</div>
<div class="invalid-feedback">Plese Enter the Valid Country</div>

</div>







<button class="btn btn-dark">submit entry</button>


</form>







</body>
